* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.everything {
  min-height: 100%;
}

.intro-chunk {
  max-width: 300px;
  margin: 150px 0 0 150px;
  min-height: 40%;
}

.bold {
  color: green;
}

.card {
  max-width: fit-content;
  margin: 0 0 0 140px;
}

.max-width-wrapper-a {
  background-color: gray;
  border-block-start: 8px solid lightgrey;
  padding: 50px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 60%;
}

.card p {
  max-width: 625px;
}

.card {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-block-end: 8px solid lightgrey;
}

.indented-heading {
  background-color: gold;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  margin-left: -15px;
  border-block-end: 8px solid goldenrod;
}
